{% extends 'base.html' %} {% block content %} {% include 'nav.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section class="section">
        <section class="container">

            <article class="card" style="border: 3px solid gold; border-radius: 10px;">
                <div class="card-content">
                    <h4>About</h4>

                    <ul class="collapsible" style="border: 2px solid gold; box-shadow: 10px 10px 5px lightblue;">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">short_text</i>More Info</div>
                            <div class="collapsible-body" style="background-color: white;"><span>
                                    <blockquote>
                                        <p class="custom-font-1">A bidding system in contract bridge is the set of
                                            agreements and
                                            understandings
                                            assigned to calls and sequences of calls used by a partnership, and includes
                                            a full description
                                            of
                                            the meaning of each treatment and convention.This is built using Django</p>
                                    </blockquote>
                                </span></div>
                        </li>
                    </ul>
                </div>
            </article>

            <article class="card" style="border: 3px solid gold; border-radius: 10px;">
                <div class="card-content">
                    <div class="row">
                        <div class="column s12 m7">
                            <div class="card card-panel hoverable">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="../static/office1_edited.jpg">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Terms of use<i
                                            class="material-icons right">more_vert</i></span>
                                    <p><strong>Click to know the terms and conditions</strong></p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4"><strong>Terms of use</strong><i
                                            class="material-icons right">close</i></span>
                                    <p><strong>You agree to the terms and conditions, without modification, outlined in
                                            this Agreement
                                            with respect to this Bidding System.
                                            This Agreement may be amended by us from time to time without specific
                                            notice to you,
                                            by updating this posting. This Agreement constitutes the entire and only
                                            agreement on
                                            the use of this Bidding System between us and you, and supersedes all prior
                                            or
                                            contemporaneous agreements, representations, warranties and understandings
                                            with
                                            respect to the Bidding System and the content provided by or through the
                                            Bidding
                                            System, and the subject matter of this Agreement. <br> Do not invite any
                                            additional contacts that you do not want to have access to view, edit,
                                            submit and/or withdraw or who may be in direct competition for example (a
                                            company
                                            may have two divisions that could compete for the same Bid Opportunity ).
                                            You are strongly urged when creating or updating a Bidding System Vendor
                                            account to
                                            add additional company contacts to create their own login to the Bidding
                                            System. This
                                            will permit your invited contacts that have created their own login to
                                            manage (register,
                                            submit, edit and withdraw) bids which your Company is a Registered Plan
                                            Taker
                                            for. In the event you are on vacation, or due to illness, etc. these
                                            additional contacts
                                            may act on your Company’s behalf and have the authority to; receive addendum
                                            notifications from the Bidding System, and where permitted by the terms and
                                            conditions of the Bid Document, to submit bids electronically through the
                                            Bidding
                                            System and/or withdraw and/or edit and/or acknowledge addendum/addenda, on
                                            your
                                            behalf.
                                            If you are an invited company contact it is imperative that you create your
                                            login from
                                            the link contained in the email invitation <br> You must login to the
                                            Bidding System using your email address and the password you
                                            created. You are entirely responsible for maintaining the confidentiality of
                                            your
                                            password. You agree not to use the e-mail address or password of another
                                            individual at
                                            any time. You agree to notify us immediately if you suspect any unauthorized
                                            use of
                                            your Vendor account or access to your password. You and the other contacts
                                            at your
                                            company are solely responsible for any and all use of your Vendor account.
                                            <br>
                                            Your login is for your personal use only and not for any other person or
                                            entity, except
                                            the corporate or other legal entity who you are authorized to represent.
                                            <br>
                                            It is understood and agreed that the Board and Service Provider, its
                                            affiliates and
                                            agents are under no obligation to confirm the actual identity or authority
                                            of any individual
                                            Bidder and have no liability for damages or harm the Bidder may incur from
                                            misuse of
                                            its Vendor account.</strong>.</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </article>
            <article class="card" style="border: 3px solid gold; border-radius: 10px;">
                <div class="card-content">
                    <div class="row">
                        <div class="col1 s12 m5">
                            <h4>Privacy policy</h4>
                            <div class="card-panel teal" style="box-shadow: 10px 10px 5px lightblue;">
                                <span class="white-text"><strong>Please read this Privacy Policy carefully to understand
                                        our policies and practices regarding your information and how we will treat it.
                                        By visiting or interacting with any part of our Services or otherwise submitting
                                        personal information through our Website or Services, you accept and agree to
                                        the practices described in this Privacy Policy and expressly consent to the
                                        collection, use and disclosure of your personal information in accordance with
                                        this Privacy Policy. Your continued use of the Services (following the posting
                                        of a revised privacy policy) means that you accept and agree to the terms of the
                                        revised privacy policy, so please check the policy periodically for
                                        updates</strong>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col1 s12 m5">
                        <h4>Refund policy</h4>
                        <div class="card-panel teal" style="box-shadow: 10px 10px 5px lightblue;">
                            <span class="white-text"><strong>The registration fee for e-auction will be Rs.1000. The
                                    registration fee and
                                    the reserve price of the number will be paid online for all the categories. The
                                    amount of registration fee i.e Rs. 1000 will be non refundable. After success
                                    of payment registration will be complete.Payment gateway with multi banking options is available for online paymentThe registration window will be open for 3 days from the start of e-auction,
                                    and bidding will take place for the subsequent 2 days, from the date of
                                    publishing of the Registration mark of choice for auction on the online e-auction
                                    platform. This facility will be available on Gazetted holidays also
                                    of registration charges</strong>
                            </span>
                        </div>
                    </div>
                </div>
                </div>

            </article>

        </section>
    </section>
    <script type="text/javascript" src="js/materialize.min.js"></script>

</body>

</html>


{% include 'footer.html' %} {% endblock content %}