<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  
<footer class="page-footer red darken-1">
  
  <div class="container">
    <div class="col l4 offset-l4 s12">
      <a class="black-text text-lighten-2" href="#!"> <strong>FAQ</strong>  &nbsp;&nbsp;&nbsp;</a>
      <a class="black-text text-lighten-2" href="#!"> <strong>Contac Us</strong>  &nbsp;&nbsp;&nbsp;</a>
      <a class="black-text text-lighten-2" href="{% url 'app:about' %}"> <strong>Terms of Use</strong>  &nbsp;&nbsp;&nbsp;</a>
      <a class="black-text text-lighten-2" href="{% url 'app:about' %}"> <strong>Privacy Policy</strong>  &nbsp;&nbsp;&nbsp;</a>
      <a class="black-text text-lighten-2" href="{% url 'app:about' %}"> <strong> Refund Policy</strong> &nbsp;&nbsp;&nbsp;</a>
      <br>
      <br>
    </div>
  </div>
  </div>
  <div class="footer-copyright pink lighten-1">
    <div class="container center custom-font-1">
      © 2022 Copyright Text

    </div>
  </div>
</footer>
</body>
</html>
